<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/user">
            <mat-icon mat-list-icon>home</mat-icon>
            Home
        </button>

       
        <button mat-list-item routerLink="/user/category">
            <mat-icon mat-list-icon>list</mat-icon>
            Categories
        </button>

        <button mat-list-item routerLink="/user/quiz/all">
            <mat-icon mat-list-icon>quiz</mat-icon>
             All Quizzes
        </button>

        <button mat-list-item routerLink="/user/quiz">
            <mat-icon mat-list-icon>search</mat-icon>
             Random Quiz
        </button>

        <button mat-list-item routerLink="/user/quiz">
            <mat-icon mat-list-icon>analytics</mat-icon>
            My Performance
        </button>

        <button mat-list-item routerLink="/user/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            Profile
        </button>
        
    </mat-action-list>
</mat-card>