.profile-image{
    max-width: 100px;
    max-height: 150px;
    padding: 15px;
    border: 2px solid rgb(37 42 75 / 62%);
    border-radius: 40%;
}
.table{
    width: 80%;
    border: 1px solid #655d5d;
    font-size: small;
    font-style: italic;
    font-weight: 600;
    color: rgb(255, 255, 255);
      
}
.table tr td{
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(21 26 30 / 72%);
  
}